<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <script type="text/javascript" src="scripts.js"></script>
  <script type="text/javascript" src="scripts2.js"></script>
</head>
<body>

<div class="outerContainer">
  <h1>Facebook</h1>
  
  <div class="post">
      

      <div class="post__actions">
        <a href="javascript:;">Like</a>
        <a href="javascript:;" class="action action--comment">Comment</a>
        <a href="javascript:;" class="action action--share">Share</a>
      </div>
    </div>

    <div class="post__details">
      <div class="post_info">
        <span class="no_of_likes">28 likes</span>
        <span>3 comments</span>
      </div>

      <div class="post__comments">
        <div class="comment media">
          <img src="images/user.png" class="profilePhoto">

          <div class="media__info">
            <a href="javascript:;" class="username" data-friends="50">Bob</a>
            Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

            <div class="comment__info">
              <a href="javascript:;" class="like">Like</a>
              <a href="javascript:;" class="reply_click">4 replies</a>
              <span>2 likes</span>
              Yesterday at 10:00am
            </div>

            <div class="replies" style="display: none">
              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="10">John</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">Reply</a>
                    <span class="no_of_likes">2 likes</span>
                    Yesterday at 10:00am
                  </div>
                </div>
              </div>

              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="15">Josh</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">Reply</a>
                    <span class="no_of_likes"n>2 likes</span>
                    Yesterday at 10:00am
                  </div>
                </div>
              </div>

              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="90">Annie</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">2 replies</a>
                    <span class="no_of_likes">2 likes</span>
                    Yesterday at 10:00am
                  </div>

                  <div class="replies" style="display: none">
                    <div class="comment media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <a href="javascript:;" class="username" data-friends="34">Max</a>
                        Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                        <div class="comment__info">
                          <a href="javascript:;" class="like">Like</a>
                          <a href="javascript:;" class="reply_click">Reply</a>
                          <span class="no_of_likes">2 likes</span>
                          Yesterday at 10:00am
                        </div>
                      </div>
                    </div>

                    <div class="comment media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <a href="javascript:;" class="username" data-friends="46">Aaron</a>
                        Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                        <div class="comment__info">
                          <a href="javascript:;" class="like">Like</a>
                          <a href="javascript:;" class="reply_click">Reply</a>
                          <span class="no_of_likes">2 likes</span>
                          Yesterday at 10:00am
                        </div>
                      </div>
                    </div>

                    <div class="commentForm media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <form action="javascript:;" method="post">
                          <textarea name="comment" class="commentBox"></textarea>
                          <input type="submit">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="400">Abbey</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">Reply</a>
                    <span class="no_of_likes">2 likes</span>
                    Yesterday at 10:00am
                  </div>
                </div>
              </div>

              <div class="commentForm media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <form action="javascript:;" method="post">
                    <textarea name="comment" class="commentBox"></textarea>
                    <input type="submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="comment media">
          <img src="images/user.png" class="profilePhoto">

          <div class="media__info">
            <a href="javascript:;" class="username" data-friends="600">Kim</a>
            Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

            <div class="comment__info">
              <a href="javascript:;" class="like">Like</a>
              <a href="javascript:;" class="reply_click">Reply</a>
              <span class="no_of_likes">2 likes</span>
              Yesterday at 10:00am
            </div>

            <div class="replies" style="display: none">
              <div class="commentForm media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <form action="javascript:;" method="post">
                    <textarea name="comment" class="commentBox"></textarea>
                    <input type="submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="comment media">
          <img src="images/user.png" class="profilePhoto">

          <div class="media__info">
            <a href="javascript:;" class="username" data-friends="32">Tim</a>
            Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

            <div class="comment__info">
              <a href="javascript:;" class="like">Like</a>
              <a href="javascript:;" class="reply_click">3 replies</a>
              <span class="no_of_likes">2 likes</span>
              Yesterday at 10:00am
            </div>

            <div class="replies" style="display: none">
              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="6">Chris</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">Reply</a>
                    <span class="no_of_likes">2 likes</span>
                    Yesterday at 10:00am
                  </div>
                </div>
              </div>

              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="76">Sean</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">3 replies</a>
                    <span class="no_of_likes">2 likes</span>
                    Yesterday at 10:00am
                  </div>

                  <div class="replies" style="display: none">
                    <div class="comment media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <a href="javascript:;" class="username" data-friends="9800">Zenyatta</a>
                        Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                        <div class="comment__info">
                          <a href="javascript:;" class="like">Like</a>
                          <a href="javascript:;" class="reply_click">Reply</a>
                          <span>2 likes</span>
                          Yesterday at 10:00am
                        </div>
                      </div>
                    </div>

                    <div class="comment media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <a href="javascript:;" class="username" data-friends="650">Junkrat</a>
                        Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                        <div class="comment__info">
                          <a href="javascript:;" class="like">Like</a>
                          <a href="javascript:;" class="reply_click">Reply</a>
                          <span class="no_of_likes">2 likes</span>
                          Yesterday at 10:00am
                        </div>
                      </div>
                    </div>

                    <div class="comment media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <a href="javascript:;" class="username" data-friends="1">Sombra</a>
                        Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                        <div class="comment__info">
                          <a href="javascript:;" class="like">Like</a>
                          <a href="javascript:;" class="reply_click">Reply</a>
                          <span class="no_of_likes">2 likes</span>
                          Yesterday at 10:00am
                        </div>
                      </div>
                    </div>

                    <div class="commentForm media">
                      <img src="images/user.png" class="profilePhoto">

                      <div class="media__info">
                        <form action="javascript:;" method="post">
                          <textarea name="comment" class="commentBox"></textarea>
                          <input type="submit">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="comment media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <a href="javascript:;" class="username" data-friends="100000">Torbjorn</a>
                  Donec imperdiet sem leo, id rutrum risus aliquam vitae. Cras tincidunt porta mauris, vel feugiat mauris accumsan eget.

                  <div class="comment__info">
                    <a href="javascript:;" class="like">Like</a>
                    <a href="javascript:;" class="reply_click">Reply</a>
                    <span class="no_of_likes">2 likes</span>
                    Yesterday at 10:00am
                  </div>
                </div>
              </div>

              <div class="commentForm media">
                <img src="images/user.png" class="profilePhoto">

                <div class="media__info">
                  <form action="javascript:;" method="post">
                    <textarea name="comment" class="commentBox"></textarea>
                    <input type="submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="commentForm media">
        <img src="images/user.png" class="profilePhoto">

        <div class="media__info">
          <form action="javascript:;" method="post">
            <textarea name="comment" class="mainCommentBox"></textarea>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" style="display: none">
</div>
  
<div class="modal__content" style="display: none">
  <div class="modal__close"><a href="javascript:;" class="x"></a></div>
  <div class="modal__title">Title</div>
  <div class="modal__body">Number of friends....NONE (get some friends and fix later)</div>
</div>

<div class="new_comment">
</div>

</body>
</html>