<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <script type="text/javascript" src="scripts.js"></script>
  <script type="text/javascript" src="scripts2.js"></script>
</head>
<body>

<div class="outerContainer">
  <h1>Facebook</h1>
  
  <div class="post">
<!-- main comment here [0] -->

      <div class="post__actions">
        <a href="javascript:;">Like</a>
        <a href="javascript:;" class="action action--comment">Comment</a>
        <a href="javascript:;" class="action action--share">Share</a>
      </div>
    </div>

    <div class="post__details">
      <div class="post_info">
<!-- main stats here [1] -->
      </div>

      <div class="post__comments">
<!-- post comments here [2] -->
      </div>
      <div class="commentForm media">
        <img src="images/user.png" class="profilePhoto">

        <div class="media__info">
          <form action="javascript:;" method="post">
            <textarea name="comment" class="mainCommentBox"></textarea>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" style="display: none">
</div>
  
<div class="modal__content" style="display: none">
  <div class="modal__close"><a href="javascript:;" class="x"></a></div>
  <div class="modal__title">Title</div>
  <div class="modal__body">Number of friends....NONE (get some friends and fix later)</div>
</div>

<div class="new_comment">
</div>

</body>
</html>