html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0 300px;
  font-family: 'PT-Sans', sans-serif;
}

.media{
  display: flex;
  align-items: flex-start;
}
.media__info{
  margin-left: 12px;
  flex: 1;
}

.profilePhoto{
  width: 36px;
}

.post{
  border: 1px solid #ccc;
  border-radius: 15px;
}

.post__main{
  padding: 15px 15px 0;
  background: #fff;
  border-radius: 15px;
}

.post__details{
  border-top: 1px solid #ccc;
  padding: 15px;
  background: #E9EFF2;
  border-radius: 15px;
}

.post__actions{
  border-top: 1px solid #ccc;
  padding-top: 9px;
  padding-bottom: 9px;
}

.post__info{
  padding-bottom: 9px; 
  border-bottom: 1px solid #ccc;
  margin-bottom: 9px;
}

.comment{
  margin-bottom: 12px;
}

.comment__info{
  margin-top: 6px;
}

.comment__replies{
  background: #fff;
  padding: 4px 0;
  text-align: center;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

.replies{
  margin-top: 12px;
  border-left: 1px solid #ccc;
  padding-left: 12px;
}

.commentForm textarea{
  width: 100%;
}

.modal{
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal__content{
  width: 600px;
  height: 100px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 30px;
}

.x {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.x:hover {
  opacity: 1;
}
.x:before, .x:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.x:before {
  transform: rotate(45deg);
}
.x:after {
  transform: rotate(-45deg);
}

.modal__title {
  font-size: 1.5em;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: 1px solid orange;
}